$primary-text-color: #272727;
$secondary-color: #f1f4fa;
$black-bgcolor: #7b8795;
$darkbleu-bgcolor : #201c2f;
$default-border-radius: 0.5rem;
$light-bgcolor: #fff;
$white-color: #fff;
$primary-color: #8ac3a3;
$default-transition: all 0.3s ease-in-out;


// screen sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;