@import "../../../assets/scss/variable";
@import "../../../assets/scss/mixins";

.modalWrapperMain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalWrapper {
  width: 60%;
  max-height: 90%;
  overflow-y: auto;
  background-color: $white-color;
  border-radius: 1rem;
  position: relative;

  @include media($screen-md) {
    width: 80%;
  }

  @include media($screen-sm) {
    width: 95%;
  }
}
